%footer.container{align: "center"}
  %ul.always-visible
    %li
      Idea Manager 2014
      |
    %li
      = t('.created_by', name: "Benjamin Schäfer")
      |
    %li
      = link_to t('.about'), pages_info_path