/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */

/*60px Abstand vom oberen Rand bis zur Überschrift*/
body { padding-top: 0px; }    

/*100px Abstand vom Inhalt zum Footer*/
footer { 
  /*margin-top: 100px;*/
  position: fixed;
  bottom: 5px;
  text-align: center;
}  

/*Navigationsleiste*/
ul { 
  margin: 0px;
  /*padding: 10px;*/
  list-style: none;
  /*width: 525px;*/
}

ul li {
  display: inline;
}

ul#list-nav li a {
  text-decoration: none;
  padding: 5px 0;
  width: 100px;
  background:  #D3D3D3;
  color: #444;
  float: left;
  text-align: center;
  border-left: 1px solid #fff;
}

ul#list-nav li a:hover {
  background: #a2b3a1;
  color: #000;
}