<p>Hello <%= t('.greeting') %></p>

<p>t('.content')</p>

<p><%= link_to t('.change_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('if_not_requested') %></p>
<p>Your password won't change until you access the link above and create a new one.</p>